<?xml version="1.0"?>

<model>
  <name>Test Box</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>jupiter</name>
    <email>jupiterMakesYouStupider@gmail.com</email>
  </author>

  <description>
    Test box to figure out how this shit works.
  </description>

</model>
